/*
		
	Propiedades para Textos: 

		*color
		*text-align (left, right, center, justify)
		*line-height (1.5em a 2em)
		*letter-spacing / word-spacing
		*text-decoration
			**text-decoration-line (underline, overline, line-through) 
			**text-decoration-color 
			**texto-decoration-style (solid, double, dotted, dashed, wavy)
		*text-shadow
		*text-transform (uppercase, lowercase, capitalize)
*/

/*
	Propiedades para Fuentes:

		*font-size
		*font-style (normal, italic, oblique)
		*font-weight (normal, bold, 100 a 900)
		*font-family 
*/

.contenedor {
	background-color: #fff;
	border: 5px solid #000;
	width: 550px; height: 300px;
	position: absolute;
	top: 0; bottom: 0; right: 0; left: 0;
	margin: auto;

	overflow: scroll;

}

.texto {
	font-size: 3em; /* 3em = 48px (1em = 16px) */
	margin: 0;
	padding: 20px;

	color:#000;
	text-align: center;
	letter-spacing: 4px;
	word-spacing: 4px;

	font-family: 'Hanalei', cursive;

	/*text-decoration-line: underline;
	text-decoration-color: #000;
	text-decoration-style: wavy;*/

	/*text-decoration: underline blue wavy;*/

	/*text-shadow: 5px 5px 5px #000;

	text-transform: capitalize;*/


}


